* {
    padding: 0;
    margin: 0;
}

body {
    margin: 100px
}

#s1 {
    float: left;
    width: 33.33%;
    background: lime;
    min-height: 500px;
}

#s2 {
    float: right;
    width: 66.66%;
    background: red;
    min-height: 500px
}